<!doctype html>
<html>
{% load pwa %}
{% load leaflet_tags %}
<head>
<meta charset="UTF-8">
<title>Index</title>
{% progressive_web_app_meta %}
{% leaflet_js %}
{% leaflet_css %}
<script src="https://unpkg.com/pouchdb@^5.2.0/dist/pouchdb.js"></script>
<style>
#gis{
width:80%;
height:700px;
}
</style>
<script type="text/javascript" src="js/dist/leaflet.ajax.js"></script>
</head>
<body>
<h1>Leaflet</h1>
<a href="http://localhost:8000/">Admin</a>
<a href="http://localhost:8000/point">JSon data</a>
<script type="text/javascript">
function our_layers(map,options)
{
var datasets=new L.GeoJSON.AJAX("{% url 'points' %}",{
});
datasets.addTo(map);
	{% for result in results %}
		document.write({{result.location}});
	{% endfor %}
}
</script>
{% leaflet_map 'gis' callback="window.our_layers" %}
</body>
</html>